/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #eeee; /* Changed background color */
}

.container {
    width: 70vh; /* Adjusted width for the container */
    height: 70vh;
    max-width: 70vh; /* Adjusted max-width for the container */ /* Adjusted padding for the container */
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex; /* Added to ensure proper centering */
    flex-direction: column; /* Added to stack elements vertically */
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
}

h2 {
    margin-top: 0;
    text-align: center;
}

.form-group {
    margin-bottom: 30px; /* Adjusted margin for the form-group */
}

.form-group label {
    display: block;
    margin-bottom: 12px; /* Adjusted margin-bottom for label */
}

.form-group input {
    width: auto;
    padding: 15px; /* Adjusted padding for the input */
    border: 1px solid #ccc;
    border-radius: 6px;
}

.button-wrapper {
    position: relative;
}

.button-wrapper button {
    width: calc(100% - 30px); /* Adjusted width for the button */
    height: 50px; /* Adjusted height for the button */
    border: none;
    border-radius: 6px;
    background-color: #FD3B3B; /* Changed button color */
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-wrapper button:hover {
    background-color: #cc3131;
}

.button-wrapper button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.button-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.button-loader::after {
    content: '';
    width: 24px;
    height: 24px;
    border: 2px solid #fff;
    border-radius: 50%;
    border-top-color: transparent;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.error-message {
    color: red;
    margin-top: 12px; /* Adjusted margin-top for the error message */
    font-size: 14px; /* Adjusted font-size for the error message */
    text-align: center;
}
